<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {{ snippet.google_analytics }}
        <meta name="description" content="">
        <meta name="author" content="Hemanta Sharma">
        <title>{{ snippet.title }}</title>
        {{ snippet.light_theme }}

        {{ snippet.css }}
        {{ snippet.mathjax }}

    </head>

    <body>

        {{ snippet.navbar }}

        <div id='content'>
            <span>
                {% if meta.tags %}
                    tags: {{ meta.tags }},
                {% endif %}
                {% if meta.date %}
                    Date:{{meta.date}}
                {% endif %}
            </span>

            {{ snippet.body }}

            {{ snippet.disqus }}
            {{ snippet.js }}

        </div>

    </body>
</html>
